
 <div class="p-4 py-8 bg-white shadow-md rounded-3xl">
    <h4
        class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">Contacto</h4>
    <p class="text-center text-gray-600 text-sm mt-2">¡Bienvenido a nuestra sección de contacto! Ingresa aquí tus datos</p>
    <div class="space-y-12 px-2 xl:px-16 mt-12">

        <form action="#" class="space-y-8 mt-5">
            <div>
                <label for="email"
                    class="block mb-2 text-sm font-medium text-gray-900">Tu email</label>
                <input type="email" id="email"
                    class="block p-3 w-full rounded-lg text-sm py-3 px-4 bg-gray-200 text-gray-800 border-gray-300 border-2 outline-none placeholder-gray-500 focus:bg-gray-100"
                    placeholder="name@subastaspublicas.com" required>
            </div>
            <div>
                <label for="subject"
                    class="block mb-2 text-sm font-medium text-gray-900">Asunto</label>
                <input type="text" id="subject"
                    class="block p-3 w-full rounded-lg text-sm py-3 px-4 bg-gray-200 text-gray-800 border-gray-300 border-2 outline-none placeholder-gray-500 focus:bg-gray-100"
                    placeholder="En que te podemos ayudar" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message"
                    class="block mb-2 text-sm font-medium text-gray-900">Tu mensaje</label>
                <textarea id="message" rows="6"
                    class="block p-3 w-full rounded-lg text-sm py-3 px-4 bg-gray-200 text-gray-800 border-gray-300 border-2 outline-none placeholder-gray-500 focus:bg-gray-100"
                    placeholder="Deja tu comentario..."></textarea>
            </div>
            <button type="submit"
                class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send
                message</button>
        </form>


    </div>
</div>

<div
    class="flex flex-col md:h-56 bg-white rounded-3xl shadow-lg overflow-hidden md:flex-row my-10 mx-auto">
    <div class="md:flex items-center justify-center md:w-1/2 md:bg-blue_">
        <div class="py-6 px-8 md:py-0">
            <h2 class="text-gray-700 text-2xl font-bold md:text-gray-100">Regístrate para recibir nuestro boletin.</h2>
            <p class="mt-2 text-gray-600 md:text-gray-400">¡No te pierdas la oportunidad de estar al tanto de todas nuestras subastas! Regístrate hoy y únete a nuestra comunidad.</p>
        </div>
    </div>
    <div
        class="flex items-center justify-center pb-6 md:py-0 md:w-1/2 md:border-b-8 border-blue_">
        <form>
            <div class="flex flex-col rounded-lg overflow-hidden sm:flex-row">
                <input
                    class="py-3 px-4 bg-gray-200 text-gray-800 border-gray-300 border-2 outline-none placeholder-gray-500 focus:bg-gray-100"
                    type="text" name="email" placeholder="Ingresa tu email">
                <button
                    class="py-3 px-4 bg-blue_ text-gray-100 font-semibold uppercase hover:bg-blue-900">SUSCRIBÍTE</button>
            </div>
        </form>
    </div>
</div>

