

<nav class="flex justify-center">

    <div
        class="overflow-x-auto scrollbar-hide">
        <div class="flex p-2 w-full text-center text-sm ">
            <a id="enCursoLink" href="#"
                class="min-w-auto w-32 h-10 bg-primary p-2 rounded-l-xl hover:bg-teal-500 transition-colors duration-50 hover:animate-pulse ease-out text-white font-bold">
                EN CURSO
            </a>
            <a id="finalizadasLink" href="#"
                class="min-w-auto w-32 h-10 bg-primary p-2 rounded-none hover:bg-teal-500 transition-colors duration-50 hover:animate-pulse ease-out text-white font-bold">
                FINALIZADAS
            </a>
            <a id="canceladasLink" href="#"
                class="min-w-auto w-32 h-10 bg-primary p-2 rounded-r-xl hover:bg-teal-500 transition-colors duration-50 hover:animate-pulse ease-out text-white font-bold">
                CANCELADAS
            </a>
        </div>
    </div>

</nav>

<!-- Área donde se cargará el contenido dinámicamente -->
<div id="auctionsArea" class="flex flex-wrap gap-5 justify-center">
    <!-- El contenido de /partials/ se cargará aquí -->
</div>