 <div class="p-4 py-8 bg-white shadow-md rounded-3xl">
    <h4
        class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">Reglamento</h4>
    <div class="space-y-12 px-2 xl:px-16 mt-12">

        <div class="border-t border-gray-200 pt-4">
            <h2 class="text-xl font-semibold mb-4">1. Introducción</h2>
            <p class="mb-4">Descripción general de la plataforma y su
                propósito.</p>
        </div>

        <div class="border-t border-gray-200 pt-4">
            <h2 class="text-xl font-semibold mb-4">2. Usuarios</h2>
            <p class="mb-4">Explicación de cómo registrarse, los diferentes
                tipos de usuarios y sus responsabilidades.</p>
        </div>

        <div class="border-t border-gray-200 pt-4">
            <h2 class="text-xl font-semibold mb-4">3. Subastas</h2>
            <p class="mb-4">Detalles sobre cómo funcionan las subastas, cómo
                ofertar, etc.</p>
        </div>

        <div class="border-t border-gray-200 pt-4">
            <h2 class="text-xl font-semibold mb-4">4. Pagos</h2>
            <p class="mb-4">Información sobre los métodos de pago, plazos y
                otras consideraciones importantes.</p>
        </div>

        <!-- Puedes agregar más secciones según los diferentes puntos de tu reglamento -->

        <div class="border-t border-gray-200 pt-4 mt-6">
            <p class="italic">La plataforma se reserva el derecho de
                modificar este reglamento en cualquier momento. Los usuarios
                serán notificados de cualquier cambio significativo en los
                términos.</p>
        </div>

    </div>
</div>
