 <div class="p-4 py-8 bg-white shadow-md rounded-3xl">
    <h4
        class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">Tutoriales</h4>
    <div class="space-y-12 px-2 xl:px-16 mt-12">

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial1', 'icon1')">
                Cómo registrarse

                <span
                    class="h-6 w-6 flex items-center justify-center text-primary"
                    id="icon1">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial1">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Tutorial de Registro en el
                    Portal de Subastas</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Hacé clic en <span class="font-semibold">“iniciar
                            sesión/registrarse”</span>.
                    </li>

                    <li class="mb-4">
                        Aquí tenés dos opciones: <span class="font-semibold">“persona
                            física”</span> o <span class="font-semibold">“persona
                            jurídica”</span>.
                    </li>

                    <li class="mb-4">
                        Si sos un ciudadano mayor de edad, que quiere participar
                        de las subastas, seleccioná la opción “persona física”.
                        <p class="ml-5 mt-2">En el formulario, te pediremos tus
                            datos para constatar tu identidad.</p>
                    </li>

                    <li class="mb-4">
                        Si pensás ofertar en nombre de una empresa, una
                        cooperativa, SRL u otros, tenés que hacer clic en
                        “persona jurídica”.
                        <p class="ml-5 mt-2">En el formulario que verás a
                            continuación, deberás ingresar los datos del
                            apoderado. Allí te pedirán un poder de compra o
                            personería para acreditar tu figura de apoderado y
                            el permiso para comprar en nombre de la empresa.</p>
                    </li>

                    <li class="mb-4">
                        Es importante aclarar que, la opción “persona jurídica”
                        no es válida para monotributistas, y en cuanto a la
                        documentación a cargar, NO se acepta como válida la
                        constancia de AFIP.
                    </li>

                    <li class="mb-4">
                        En la casilla “datos de tu cuenta” tendrás que ingresar
                        un email que uses habitualmente para validar tu registro
                        y en nombre de usuario, podés utilizar un apodo o Nick.
                        Tu nombre de usuario se verá en el portal cuando decidas
                        participar de los remates.
                    </li>

                    <li class="mb-4">
                        Lee el reglamento y aceptalo.
                    </li>

                    <li class="mb-4">
                        Hacé clic en <span class="font-semibold">“crear cuenta”</span>.
                    </li>

                    <li class="mb-4">
                        A continuación, podrás ver que te van a figurar 5
                        preguntas para constatar tu identidad y deberás
                        contestarlas en un plazo máximo de 10 minutos (en el
                        caso de personas físicas).
                    </li>

                    <li class="mb-4">
                        En el caso de las personas jurídicas, quien corresponde,
                        revisará la documentación cargada en personería para
                        verificar que la persona ingresada como
                        Representante/Apoderado es quien está indicado en el
                        usuario.
                    </li>

                    <li class="mb-4">
                        Una vez que hayas contestado las preguntas y que el
                        sistema verificó tu identidad, te llegará un email de
                        validación al correo que ingresaste en tu registro. El
                        mismo puede encontrarse en spam o correo no deseado.
                    </li>

                    <li class="mb-4">
                        El email te llegará las veces que sea necesario hasta
                        que ingreses a tu correo y hagas clic en “validar mi
                        email”. No podrás participar si no validas tu usuario.
                    </li>

                    <li class="mb-4">
                        Cuando hagas clic en “validar mi email”, te direccionará
                        al portal de subastas y te figurará el nuevo reglamento
                        para que lo leas y aceptes. Cuando aceptes el
                        reglamento, vas a poder ver el portal y estarás apto
                        para ofertar.
                    </li>

                    <li class="mb-4">
                        Si ingresaste algún dato incorrectamente y no podes
                        editarlo, escribinos desde nuestra página de Contacto.
                    </li>

                    <li class="mb-4">
                        ¿No sabes cuál es tu cuil / cuit?, podés consultarlo en
                        la página de <a href="https://www.anses.gob.ar/"
                            target="_blank" class="text-teal-600 underline">anses</a>.
                    </li>
                </ol>
            </div>
        </div>

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial2', 'icon2')">
                Recuperar contraseña

                <span
                    class="h-6 w-6 flex items-center justify-center text-primary"
                    id="icon2">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial2">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Tutorial para Recuperar
                    Contraseña y Cambiar Nombre de Usuario</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Hacé clic en <span class="font-semibold">iniciar
                            sesión/registrarse</span>.
                    </li>

                    <li class="mb-4">
                        Si no recordás tu usuario y/o contraseña, hace clic en
                        <span class="font-semibold">“olvidé mi contraseña”</span>.
                    </li>

                    <li class="mb-4">
                        En el campo <span class="font-semibold">“email”</span>,
                        Ingresá el correo vinculado a tu usuario y hace clic en
                        <span class="font-semibold">“cambiar contraseña”</span>.
                    </li>

                    <li class="mb-4">
                        Te llegará un email que contiene un botón para que hagas
                        clic allí y automáticamente te direccionará a tu panel.
                    </li>

                    <li class="mb-4">
                        En tu panel, modificá tu contraseña en el campo <span
                            class="font-semibold">“nueva contraseña”</span>
                        e ingresá nuevamente esta contraseña en el campo <span
                            class="font-semibold">“repetir contraseña”</span>.
                    </li>

                    <li class="mb-4">
                        Hacé clic en <span class="font-semibold">“cambiar”</span>.
                    </li>

                    <li class="mb-4">
                        En esta misma sección, podrás cambiar tu nombre de
                        usuario o verlo si no lo recordás. En el campo <span
                            class="font-semibold">“nombre de usuario”</span>,
                        podes borrar el nombre que tenés e ingresar uno nuevo.
                    </li>

                    <li class="mb-4">
                        Hace clic en el botón verde <span class="font-semibold">“cambiar”</span>
                        para cargar tu nuevo usuario.
                    </li>
                </ol>

            </div>
        </div>

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial3', 'icon3')">
                Consultas sobre el bien

                <span
                    class="h-6 w-6 flex items-center justify-center text-primary"
                    id="icon3">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial3">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Cómo Realizar Consultas en
                    el Portal de Subastas</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Ingresá con tu usuario al <span class="font-semibold">portal
                            de subastas</span>.
                    </li>

                    <li class="mb-4">
                        Elegí el bien que te interese.
                    </li>

                    <li class="mb-4">
                        En la sección <span class="font-semibold">“Datos de la
                            subasta”</span>, hacé clic en la pestaña <span
                            class="font-semibold">“Preguntas”</span>.
                    </li>

                    <li class="mb-4">
                        Ingresá tu consulta y hace clic en <span
                            class="font-semibold">“preguntar”</span>.
                    </li>

                    <li class="mb-4">
                        Tu consulta estará en el portal y otros usuarios podrán
                        verla.
                    </li>

                    <li class="mb-4">
                        Si necesitás comunicarte telefónicamente con el
                        martillero a cargo, hace clic en la pestaña <span
                            class="font-semibold">“Martillero”</span>. Allí
                        verás su nombre, matrícula y número de teléfono.
                    </li>
                </ol>

            </div>
        </div>

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial4', 'icon4')">
                Participar de una subasta

                <span
                    class="h-6 w-6 flex items-center justify-center text-primary"
                    id="icon4">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial4">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Cómo Participar en una
                    Subasta en el Portal</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Ingresá con tu <span class="font-semibold">nombre de
                            usuario</span> y <span class="font-semibold">contraseña</span>.
                    </li>

                    <li class="mb-4">
                        Elegí el bien que sea de tu interés.
                    </li>

                    <li class="mb-4">
                        El día que inicie la subasta, tendrás disponible el
                        botón <span class="font-semibold">“ofertar”</span>.
                    </li>

                    <li class="mb-4">
                        Los montos a ofertar dependen del precio incremental que
                        haya fijado el Tribunal en su decreto, así que el
                        sistema te mostrará un precio automáticamente en el
                        botón “ofertar”, permitiéndote participar con sólo un
                        clic.
                    </li>

                    <li class="mb-4">
                        Al hacer clic la primera vez para ofertar, se te
                        mostrará una ventana para que ratifiques tu
                        participación. Si estás de acuerdo, hace clic en
                        “ofertar”, sino, selecciona “cerrar”.
                    </li>

                    <li class="mb-4">
                        Si eliges “ofertar”, serás dirigido a tu “sala”, donde
                        podrás seguir ofertando por uno o más bienes sin cambiar
                        de página.
                    </li>

                    <li class="mb-4">
                        Recuerda que, después de realizar tu primera oferta, no
                        podrás retractarte.
                    </li>

                    <li class="mb-4">
                        La subasta finalizará en un día y horario específicos,
                        que pueden ser ajustados debido al “minuto de ley”. Si
                        tu oferta es la última y no es superada, te enviaremos
                        un email informándote que has ganado el remate. En este
                        correo, te detallaremos los pasos para efectuar el pago.
                    </li>
                </ol>

            </div>
        </div>

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial5', 'icon5')">
                Realizar el pago

                <span
                    class="h-6 w-6 flex items-center justify-center text-primary"
                    id="icon5">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial5">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Instrucciones para Realizar
                    Pagos en el Portal de Subastas</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Ingresá al portal con tu <span class="font-semibold">nombre
                            de usuario</span> y <span class="font-semibold">contraseña</span>.
                    </li>

                    <li class="mb-4">
                        Hacé clic en <span class="font-semibold">“panel de
                            usuario”</span> y luego en la sección <span
                            class="font-semibold">“Pagos”</span>.
                    </li>

                    <li class="mb-4">
                        Presiona el botón <span class="font-semibold">“CREAR
                            PAGO”</span> para ver los bienes pendientes de pago
                        y selecciona <span class="font-semibold">“PAGAR”</span>.
                    </li>

                    <li class="mb-4">
                        Visualizarás los medios de pago disponibles según el
                        monto a abonar.
                    </li>

                    <li class="mb-4 font-semibold">Opciones de Pago:</li>

                    <ul class="list-disc pl-5 mb-4">

                        <li class="mb-3">
                            <span class="font-semibold">Pago con Tarjeta:</span>
                            Disponible para cualquier monto. Sigue las
                            indicaciones para completar el proceso de pago con
                            tu tarjeta.
                        </li>

                        <li class="mb-3">
                            <span class="font-semibold">Pago en Efectivo:</span>
                            Opta por Pago fácil o Rapipago según el monto. Sigue
                            las instrucciones para generar tu cupón de pago.
                        </li>

                        <li class="mb-3">
                            <span class="font-semibold">Transferencia bancaria:</span>
                            A partir de $10.000, elige esta opción y sigue los
                            pasos detallados para informar y realizar tu
                            transferencia.
                        </li>

                    </ul>

                    <li class="mb-4">
                        <span class="font-semibold text-red-500">IMPORTANTE:</span>
                        Si debes abonar el monto restante del bien, recibirás un
                        email con instrucciones adicionales. No realices
                        transferencias al mismo CBU de la empresa que gestiona
                        los pagos sin recibir esta información.
                    </li>

                </ol>

            </div>
        </div>

        <div class="mb-4">
            <div
                class="flex items-center justify-between bg-gray-200 pl-3 pr-2 py-3 w-full rounded text-gray-600 font-bold cursor-pointer hover:bg-gray-300"
                onclick="toggleContent('tutorial6', 'icon6')">
                Después del pago

                <span
                    class="h-6 w-6 flex items-center justify-center text-teal-500"
                    id="icon6">
                    <!-- Icono de "+" -->
                    <i class="fa-solid plus-icon fa-plus"></i>

                    <!-- Icono de "-" (oculto inicialmente) -->
                    <i class="fa-solid minus-icon fa-minus hidden"></i>
                </span>

            </div>
            <div class="p-3 hidden" id="tutorial6">

                <div
                    class="relative h-0 overflow-hidden max-w-full w-full mb-5"
                    style="padding-bottom: 56.25%">
                    <iframe
                        src="https://www.youtube.com/embed/4fYV9RNgxBY?si=25Qn6LvUPP7GDaSx"
                        frameborder="0"
                        allowfullscreen
                        class="absolute top-0 left-0 w-full h-full"></iframe>
                </div>

                <h2 class="text-2xl font-bold mb-4">Verificación y Coordinación
                    de tu Pago</h2>
                <ol class="list-decimal pl-5">

                    <li class="mb-4">
                        Espera entre <span class="font-semibold">24 a 48 horas</span>
                        de días hábiles para que tu pago se registre en el
                        sistema.
                    </li>

                    <li class="mb-4">
                        Para verificar el estado de tu pago, ingresá a tu panel
                        y hacé clic en la sección <span class="font-semibold">“Pagos”</span>.
                    </li>

                    <li class="mb-4">
                        Si tu pago aparece como registrado, ponete en contacto
                        con el martillero responsable del remate. Podés
                        encontrar sus datos en el bien por el cual ofertaste,
                        bajo la pestaña <span class="font-semibold">“Martillero”</span>,
                        para coordinar la entrega del bien.
                    </li>

                    <li class="mb-4">
                        Si después del tiempo mencionado tu pago aún figura como
                        <span class="font-semibold text-red-500">“pendiente de
                            pago”</span>, no dudes en comunicarte con nosotros.
                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>
